version: '3'
services:
  {{ item }}:
    image: registry.pivotal.io/rabbitmq/vmware-tanzu-rabbitmq:1.2.0
    hostname: {{ item }}
    container_name: {{ item }}
    environment:
      - RABBITMQ_ERLANG_COOKIE=${RABBITMQ_ERLANG_COOKIE}
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
      - RABBITMQ_DEFAULT_VHOST=${RABBITMQ_DEFAULT_VHOST}
    volumes:
      - type: bind
        source: "./rabbitmq"
        target: "/etc/rabbitmq"
      - type: bind
        source: "./hosts"
        target: "/etc/hosts"
    ports:
     - 4369:4369
     - 15672:15672
     - 25672:25672
     - 5672:5672
    restart: always
